@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<div class="panel-group" id="accordin">
    <div class="panel panel-default panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#contact-1" data-toggle="collapse" data-parent="#accordion"> Allport Cargo Services (Ocean) Ltd </a>
            </h4>
        </div>
        <div class="panel-collapse collapse in" id="contact-1">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-danger"><h5>Chittagong Office:</h5></div>
                        <address>
                            Monjoor Building  (first Floor), 67, Agrabad C/A<br />
                            Chittagong-4100, Bangladesh<br />
                            <abbr title="Phone">P:</abbr>+880-712216, 712269 <br />
                            <abbr title="Fax">F:</abbr>+880-31-710398
                        </address>
                    </div>

                    <div class="col-md-6 pull-right">
                        <div class="text-danger"><h5>Dhaka Office:</h5></div>
                        <address>
                            House No : 14/C ( 2nd Floor ), Road No : 95 <br />
                            Gulshan-2, Dhaka-1212, Bangladesh<br />
                            <abbr title="Phone">P:</abbr>+88-02-8881881-6 <br />
                            <abbr title="Fax">F:</abbr>+88-02-8881322
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#contact-2" data-toggle="collapse" data-parent="#accordion"> Genuine Technology & Research Limited (gtr) &nbsp; &nbsp; &nbsp; &nbsp; [ Service Provider ] </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="contact-2">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-danger"><h5>Chittagong Office</h5></div>
                        <address>
                            Tijarat Bhaban (4th Floor), 314, SK. Mujib Road<br />
                            Chittagong- 4203, Bangladesh<br />
                            <abbr title="Phone">P:</abbr> +88-031-2522151-52
                        </address>
                    </div>

                    <div class="col-md-6 pull-right">
                        <div class="text-danger"><h5>Dhaka Office</h5></div>
                        <address>
                            House # 19, Road # 3/C, Sector # 09<br />
                            Uttara Model Town, Dhaka- 1230, Bangladesh<br />
                            <abbr title="Phone">P:</abbr>+88-02-8956649
                        </address>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
